<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1> Please try again to put correct password</h1>

  <button id="to_login_page" class="submit-button">Login page</button>
  
  <script type="text/javascript">
    document.getElementById("to_login_page").onclick = function () {
      location.href = "http://localhost:5000/login";
    };
  </script>
</body>
</html>
