doctype html
html
  head
    style 
      include style.css
  body
    div.header
      | Hello dear hero!
    div.body
      block content 
    div.footer
      | Best regards 
      br
      a(href=frontendURL) Inoxoft course Node.js - Love 
      